---
---

//@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

body {
  color: #fff;
  background: $red;
}

header {
  @include outer-container;
  text-align: center;
  padding: 2em;
  color: white;

  .logo img {
    max-width: 280px;
    width: 100%;
  }
}

.sponsors {
  ul {
    @include outer-container;
  }
  li {
    @include span-columns(3);
    @include omega(3);
    text-align: center;
  }
  a {
    display: block;
  }
}

footer {
  padding: $base-line / 2;
  @include outer-container;
  ul {
    margin-bottom: $base-line;
    text-align: center;
  }

  li {
    display: inline-block;
    margin: $base-line/2;
    min-width: 300px;
  }

  li a {
    width: 100%;
    text-align: center;
  }

}

.subtitle {
  text-align: center;
}

h1 {
    @include span-columns(6);
    @include shift(3);
}
