---
---

//@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "config";

header {
  @include outer-container;
  text-align: center;
  padding: 2em;
  background: $secondary-background-color;
  color: white;

  .logo img {
    max-width: 280px;
  }
}

a:hover {
  text-decoration: underline;
}

main {
  @include outer-container;
}

.posts {
  max-width: 32em;
  margin: auto;
  text-align: justify;
}

.sponsors {
  @include outer-container;
  text-align: center;

// responsive element example, breakpoints are defined in _sass/base/_grid-settings.scss

  li {
    margin-bottom: $base-spacing;

    @include media($medium-viewport) {
      @include span-columns(4);
      @include omega();
    }

    @include media($large-viewport) {
      @include span-columns(4);
    }
  }

}

.main-footer {
  @include outer-container;
  padding-top: $small-spacing;
  background: $dark-gray;
  color: white;
  a {
    color: $orange;
  }
  ul,
  p {
    margin: $small-spacing;
  }
}
