---
layout: main
title: La conférence web à dimension humaine
---

<div class="cta-zone-1  section-margin">
  <div class="wrapper">
    <div class="grid">
      <section class="text-center">
        <h2 class="cta-title">Une journée de conférences</h2>
        <p>volontairement accessible à tous les métiers du web, pour sortir de votre zone de confort et confronter les points de vue.</p>
        <div class="text-center">
          <a class="cta button-type1" href="#">Je m'inscris</a>
        </div>
      </section>
      <section class="text-center">
        <h2 class="cta-title">Des lieux pour s’immerger</h2>
        <p>dans l’esprit de Sudweb, spécialement choisis pour leur emplacement, leur confort et l’esprit qu’ils dégagent.</p>
        <div class="text-center">
          <a class="cta button-type1" href="#">Repérez les lieux</a>
        </div>
      </section>
    </div>
  </div>
</div>

<main>

  <nav class="schedule-nav">
    <div class="wrapper container">
      <a href="#vendredi">
        <time datetime="2016-05-27T09:00+2//2016-05-27T18:00+2">Vendredi 27 mai</time>
        Les conférences</a>
      <a href="#samedi">
        <time datetime="2016-05-27T09:00+2//2016-05-27T18:00+2">Samedi 28 mai</time>
        Les élaboratoires</a>
      <a href="#after">
        Les soirées <br>et after
      </a>
    </div>
  </nav>

  <!-- VENDREDI -->
    <article id="vendredi" class="day-section">
      <!-- INTRO -->
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="intro-title great-title-size red uppercase">Vendredi : faites le plein</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>
          <div class="text-center">
            <a class="cta button-type1" href="#">Téléchargez le programme</a>
          </div>
        </div>
      </header>

      <!-- CONFERENCES -->
      <section class="yellow-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">8 conférences</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>

          <div class="grid-2">

            {% for talk in site.talks limit:6 %}
              <section class="pres-item">
              <figure class="pres-type">
                <svg><use id="sw-hands" xlink:href="images/symbol-defs.svg#educ" /></svg>
              </figure>
              <h4 class="pres-title tiny-title-size">{{ talk.title }}</h4>
              <p class="pres-desc">{{ talk.description }}</p>
              <footer>
              {% assign speaker = site.data.speakers[talk.speaker] %}
              <section class="pres-author clearfix">
                <figure class="author-img">
                  <img src="{{ speaker.avatar }}" alt="{{ speaker.name }}">
                </figure>
                <h5 class="author-name default-size">{{ speaker.name }}</h5>
                <p class="author-desc">{{ speaker.bio }}</p>
              </section>
            </footer>
            </section>
            {% endfor %}

            <a class="pres-link" href="#">
              <span>Le programme complet<br> c'est par ici</span>
            </a>
          </div>
        </div>
      </section>

      <!-- LIGHTNING TALKS -->
      <section class="darkgrey-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">8 conférences</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>

          <div class="grid-2">

            {% for talk in site.talks  limit:6 %}
              <section class="pres-item">
              <figure class="pres-type">
                <svg><use id="sw-hands" xlink:href="images/symbol-defs.svg#educ" /></svg>
              </figure>
              <h4 class="pres-title tiny-title-size">{{ talk.title }}</h4>
              <p class="pres-desc">{{ talk.description }}</p>
              <footer>
              {% assign speaker = site.data.speakers[talk.speaker] %}
              <section class="pres-author clearfix">
                <figure class="author-img">
                  <img src="{{ speaker.avatar }}" alt="{{ speaker.name }}">
                </figure>
                <h5 class="author-name default-size">{{ speaker.name }}</h5>
                <p class="author-desc">{{ speaker.bio }}</p>
              </section>
            </footer>
            </section>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="orange-section">
        <div class="wrapper text-center">
          <h3 class="onemorething-title regular-title-size uppercase">Moments d'échanges</h3>
          <p>Expliquer le format du débat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>
          <div class="text-center">
            <a class="cta button-type4" href="#">Découvrez le programme complet</a>
          </div>
        </div>
      </section>
    </article>

    <!-- SAMEDI -->
    <article id="samedi" class="day-section">
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="intro-title great-title-size red uppercase">Samedi : place à l'action !</h2>
          <p>Qué sa ko ? Toi, super héros du Web, tu ne connais pas encore l’Open Space ? Aucun problème, on va t’aider à sauter le pas pour que tu puisses voler de tes propres ailes comme Superman durant cette journée qui sera ta journée !</p>
          <div class="text-center">
            <a class="cta button-type1" href="#">Inscris-moi direct !</a>
          </div>
        </div>
      </header>
      <section class="darkgrey-section">
        <div class="wrapper">
          <div class="grid-3 text-center">
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#clap" /></svg>
              <p><strong>Une journée auto-organisée</strong> où vous allez être les propres acteurs à travers un open space.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#move" /></svg>
              <p><strong>Les participants sont libres</strong> de passer d’une session à L’autre à tout moment de la journée.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#write" /></svg>
              <p><strong>Vous pouvez soumettre le sujet que vous voulez</strong>, aussi bien pour partager que pour apprendre.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="white-section">
        <div class="wrapper text-center">
          <h3 class="intro-title regular-title-size uppercase">Votre mission si vous l'acceptez</h3>
          <p>C’est assez simple en fait, la journée démarre par <strong>la proposition de sujets parmi les participants</strong> : vous pouvez soumettre aussi bien un sujet <strong>sur lequel vous aimeriez apprendre</strong> qu’un sujet <strong>sur lequel vous souhaitez partager votre savoir-faire</strong>.</p>
          <p><strong>Tous les sujets sont proposés sur des post-its, positionnés sur un wall pour les présenter très rapidement aux autres participants (1 minute max par sujet).</strong> Une fois toutes les propositions présentées, tous les participants auto-organisent la journée qu’ils souhaitent avoir et prennent les post-its qui les intéressent pour les placer sur un deuxième wall appelé « place du marché ». Les participants peuvent débattre autour de certains sujets s’ils souhaitent en rassembler ou encore prolonger un sujet intéressant sur deux créneaux, si le temps accordé n’est pas estimé suffisant. &Agrave; la fin de la journée on fait un compte-rendu.
          </p>
        </div>
      </section>

      <section class="white-section">
        <div class="wrapper text-center">
          <h3 class="intro-title regular-title-size uppercase">Quatre principes et une loi</h3>
          <div class="grid-4 text-center">
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#people" /></svg>
              <p class="h-like tiny-title-size">Les personnes présentes sont les bonnes personnes</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#thumb" /></svg>
              <p class="h-like tiny-title-size">Ce qui arrive devait arriver</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#clock" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a commence quand ça commence</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#stop" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a finit quand c’est finit</p>
            </div>
          </div>
          <p>L’idée est de partir sur des bases saines. Une autre chose importante : c’est à vous de construire votre journée pour qu’elle vous apporte ce que vous êtes venus chercher. Si aucun des sujets proposés ne vous apporte de sens, alors à vous d’en proposer un.</p>
          <p>Une fois qu’on a dit ça il ne reste plus qu’à parler de LA loi qui régit tous les super-héros :</p>
          <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="images/symbol-defs.svg#rocket" /></svg>
          <p class="h-like tiny-title-size">La loi des deux pieds</p>
          <p>&Agrave; partir du moment où vous n’êtes plus en train d’apprendre ni de contribuer, vous êtes libres à tout moment de vous envoler vers de nouveaux cieux et de quitter le groupe pour aller en voir un autre, puis un autre et ainsi de suite&hellip; Aucune représaille ne sera faite, allez et venez autant que vous le voulez.</p>
        </div>
      </section>
    </article>
</main>
