---
layout: main
title: La conférence web super humaine
---

<div class="cta-zone-1 section-margin">
		<div class="wrapper">
			<div class="grid-2 text-center">
				<section>
					<h2 class="cta-title">Deux journées</h2>
					<p>Une journée de conférences et une journée d'élaboratoires pour sortir de sa zone de confort en&nbsp;toute&nbsp;sécurité.</p>
					<a class="cta button-type1" href="{{ site.weezevent.mini-site-url}}">Je m'inscris</a>
				</section>
				<section>
					<h2 class="cta-title">Deux lieux</h2>
					<p>En plein cœur de Bordeaux et adaptés à l'esprit de chaque journée : du confort pour les conférences,&nbsp;de l'espace pour&nbsp;les&nbsp;élaboratoires.</p>
					<!-- <a class="cta button-type1" href="#">Repérez les lieux</a> -->
				</section>
			</div>
		</div>
	</div>


<main>

  <nav class="schedule-nav">
    <div class="wrapper container">
      <a href="#vendredi">
        <time datetime="2016-05-27T09:00+1//2016-05-27T18:00+1">Vendredi 27 mai</time>
        Les conférences</a>
      <a href="#samedi">
        <time datetime="2016-05-27T09:00+1//2016-05-27T18:00+1">Samedi 28 mai</time>
        Les élaboratoires</a>
      <a href="#after">
        Les soirées <br>et after
      </a>
    </div>
  </nav>

  <!-- VENDREDI -->
    <article id="vendredi">
      <!-- INTRO -->
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="great-title-size red uppercase">Vendredi,&nbsp;faire le plein d'inspiration</h2>
          <p>
						Des retours d'expérience pour alimenter nos réflexions, découvrir
						de nouveaux horizons et mieux comprendre le sens de nos métiers.
					</p>
          <div class="text-center">
            <a class="cta button-type1" href="{{ site.weezevent.mini-site-url}}">Je m'inscris</a>
          </div>
        </div>
      </header>

      <!-- CONFERENCES -->
      <section class="yellow-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">8 conférences</h3>
          <p>Une sélection unique et variée qui devrait vous parler.</p>

          <div class="grid-2">
            {% assign conferences = site.talks | where: "type","conference" | sort: "display-order" %}
            {% include speakers.html %}
            <!-- <a class="pres-link" href="#">
              <span>Le programme complet<br> c'est par ici</span>
            </a> -->
          </div>
        </div>
      </section>

      <!-- LIGHTNING TALKS -->
      <section class="darkgrey-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">10 lightning talks</h3>
          <p>Des conférences de 5 minutes pour donner du rythme.</p>

          <div class="grid-2">
            {% assign conferences = site.talks | where:"type","lt" | sort: "display-order" %}
            {% include speakers.html %}
          </div>
        </div>
      </section>

      <section class="orange-section">
        <div class="wrapper text-center">
          <h3 class="onemorething-title regular-title-size uppercase">De loooongues pauses</h3>
					<p>Les entractes durent 30 minutes et la pause déjeuner dure 2 heures.</p>
					<p>
						C'est le temps idéal pour se reposer, prendre le temps de rencontrer de nouvelles têtes
						et de tailler une bavette entre potes (<em>valable également pour les végétariens</em>).
					</p>
          <!-- <div class="text-center">
            <a class="cta button-type4" href="#">Découvrez le programme complet</a>
          </div> -->
        </div>
      </section>
    </article>

    <!-- SAMEDI -->
    <article id="samedi">
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="great-title-size red uppercase">Samedi,&nbsp;place à l'action&nbsp;!</h2>

					<div class="grid-3 text-center">
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#clap" /></svg>
              <p><strong>Une journée auto-organisée</strong> dont vous êtes les principaux acteurs.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#move" /></svg>
              <p><strong>Vous êtes libres</strong> de passer d’une session à l’autre à tout moment.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#write" /></svg>
              <p><strong>Vous soumettez des sujets</strong> sur lesquels vous réfléchissez avec les autres participants.</p>
            </div>
          </div>

          <div class="text-center">
            <a class="cta button-type1" href="{{ site.weezevent.mini-site-url }}">Je participe&nbsp;!</a>
          </div>
        </div>
      </header>

      <section class="orange-section">
        <div class="wrapper text-center">
          <h3 class="regular-title-size uppercase">Quatre principes et une loi</h3>
          <div class="grid-4 text-center">
            <div>
              <svg class="white svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#people" /></svg>
              <p class="h-like tiny-title-size">Les personnes présentes sont les bonnes personnes</p>
            </div>
            <div>
              <svg class="white svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#thumb" /></svg>
              <p class="h-like tiny-title-size">Il arrive ce qui pouvait arriver de mieux</p>
            </div>
            <div>
              <svg class="white svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#clock" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a commence quand ça commence</p>
            </div>
            <div>
              <svg class="white svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#stop" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a finit quand c’est fini</p>
            </div>
          </div>
				</div>
			</section>

			<section class="white-section">
				<div class="wrapper text-center">
          <p>Partons sur des bases saines : c’est vous qui contribuez et qui construisez cette journée afin d'en retirer le maximum. Si aucun des sujets proposés ne vous convient, alors à vous d’en proposer un.</p>
          <p>Le cadre est posé, maintenant il ne vous reste plus qu'à retenir une chose :</p>
          <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#rocket" /></svg>
          <p class="h-like tiny-title-size">La loi des deux pieds</p>
          <p>&Agrave; partir du moment où vous n’êtes plus en train d’apprendre ni de contribuer, vous êtes libres à tout moment  de changer de session. Allez et venez autant que vous le voulez.</p>
        </div>
      </section>
    </article>

		<div class="after-banner">
					<!-- nothing here! -->
				</div>

				<article id="after">

					<!-- INTRO -->
					<header class="white-section">
						<div class="wrapper text-center">
							<h2 class="great-title-size red uppercase">Après l'effort, le réconfort</h2>
								<p>Afin de prolonger les discussions et passer un bon moment, les super-héros se retrouvent autour d’un verre et d'une bonne table. Vous pouvez vous joindre à eux, même si vous n'étiez pas présent pendant les conférences.</p>
							<div class="text-center">
								<a class="cta button-type1" href="{{ site.weezevent.mini-site-url }}">Je viens juste à la soirée communautaire</a>
							</div>
						</div>
					</header>

					<section class="white-section">
						<div class="wrapper text-center">
							<h3 class="regular-title-size uppercase">Trois temps forts</h3>
							<div class="grid-3">
								<section>
									<h4 class="tiny-title-size"><time>Jeudi 26 mai</time><br> Veillée communautaire</h4>
									<p>Première rencontre informelle avant les conférences du lendemain.</p>
								</section>
								<section>
									<h4 class="tiny-title-size"><time>Vendredi 27 mai</time><br> Soirée communautaire</h4>
									<p>Pour prolonger les échanges après les conférences dans un lieu sympa. Inclus dans le pass, mais ouverte à tout le monde.</p>
								</section>
								<section>
									<h4 class="tiny-title-size"><time>Dimanche 29 mai</time><br> L’after</h4>
									<p>Encore sur place ? Profitez du dimanche pour flâner dans les rues de Bordeaux ou pourquoi pas en bord de plage à l'océan !</p>
								</section>
							</div>
						</div>
					</section>

				</article>

				<div class="food-banner">
					<!-- nothing here! -->
				</div>

				<article class="white-section">
					<div class="wrapper text-center">
						<h2 class="great-title-size red uppercase">Nos super partenaires</h2>
            {% assign sponsortypes = "gold|silver|bronze" | split: "|" %}
            {% for sponsortype in sponsortypes %}
            <section class="{{ sponsortype }}-partners">
              {% assign sponsors = site.data.sponsors | where:"level", sponsortype %}
              {% include sponsors.html %}
            </section>
            {% endfor %}
					</div>
				</article>

				<footer class="page-footer">
					<div class="wrapper">
						<div class="grid-3">
							<section>
								<h2 class="tiny-title-size uppercase">Épisodes précédents</h2>
								<nav>
									<ul>
										{% for edition in site.data.editions reversed %}
											<li>
												<a href="http://sudweb.fr/{{ edition.year}}">{{ edition.year}} à {{ edition.town }}</a>
											</li>
										{% endfor %}
									</ul>
								</nav>
							</section>
							<section>
								<h2 class="tiny-title-size uppercase">Pour en savoir plus</h2>
								<nav>
									<ul>
										<li><a href="{{site.baseurl}}/assets/files/dossier-de-partenariat-sudweb-2016.pdf">Dossier de partenariat</a></li>
										<li><a href="http://sudweb.fr/blog/">Blog</a></li>
										<!-- <li><a href="#">Mentions légales</a></li> -->
										<li><a href="http://sudweb.fr/blog/contact">Contact</a></li>
									</ul>
								</nav>
							</section>
							<section>
								<h2 class="tiny-title-size uppercase">Who you gonna call?</h2>
								<form action="//sudweb.us2.list-manage.com/subscribe/post?u=af19b58cf514c01eca3f7652e&amp;id=b579f5b507" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form validate" target="_blank" novalidate>
									<label for="mce-EMAIL">Inscrivez-vous à la newsletter</label>
									<input type="text" id="i2" name="name">
									<div class="row">
										<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse mail" required>
								    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
								    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_af19b58cf514c01eca3f7652e_b579f5b507" tabindex="-1" value=""></div>
								    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button uppercase">ok</button>
								    </div>
								</form>
								<ul class="social-links">
									{% for social in site.data.social %}
									<li>
										<a href="{{ social.url }}" class="button-type6" title="{{ site.title }} sur {{ social.name | capitalize }}">
											<svg><use xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#{{ social.name }}" /></svg>
										</a>
									</li>
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
				</footer>

				<div class="page-ground">
					<div class="wrapper text-center">
						<p>
							Alors&hellip; <a href="{{ site.weezevent.mini-site-url }}" class="button-type1" title="J'enfile mes collants !">Cape</a> ou pas cape ?
						</p>
					</div>
				</div>

</main>
