---
layout: main
title: La conférence web à dimension humaine
---

<div class="cta-zone-1 section-margin">
		<div class="wrapper">
			<div class="grid-2 text-center">
				<section class="text1">
					<h2 class="cta-title">Une journée de conférences</h2>
					<p>volontairement accessible à tous les métiers du web, pour sortir de votre zone de confort et confronter les points de vue.</p>
				</section>
				<section class="text2">
					<h2 class="cta-title">Des lieux pour s’immerger</h2>
					<p>dans l’esprit de Sudweb, spécialement choisis pour leur emplacement, leur confort et l’esprit qu’ils dégagent.</p>
				</section>
				<div class="cta1">
					<a class="cta button-type1" href="#">Je m'inscris</a>
				</div>
				<div class="cta2">
					<a class="cta button-type1" href="#">Repérez les lieux</a>
				</div>
			</div>
		</div>
	</div>


<main>

  <nav class="schedule-nav">
    <div class="wrapper container">
      <a href="#vendredi">
        <time datetime="2016-05-27T09:00+2//2016-05-27T18:00+2">Vendredi 27 mai</time>
        Les conférences</a>
      <a href="#samedi">
        <time datetime="2016-05-27T09:00+2//2016-05-27T18:00+2">Samedi 28 mai</time>
        Les élaboratoires</a>
      <a href="#after">
        Les soirées <br>et after
      </a>
    </div>
  </nav>

  <!-- VENDREDI -->
    <article id="vendredi">
      <!-- INTRO -->
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="great-title-size red uppercase">Vendredi : faites le plein</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>
          <div class="text-center">
            <a class="cta button-type1" href="#">Téléchargez le programme</a>
          </div>
        </div>
      </header>

      <!-- CONFERENCES -->
      <section class="yellow-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">8 conférences</h3>
          <p></p>

          <div class="grid-2">
            {% assign conferences = site.talks | where:"type","conference" %}

            {% for conference in conferences %}
              <section class="pres-item">
              <figure class="pres-type">
                <svg><use id="sw-hands" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#{{conference.symbol}}" /></svg>
              </figure>
              <h4 class="pres-title tiny-title-size">{{ conference.title }}</h4>
              <p class="pres-desc">{{ conference.description }}</p>
              <footer>
              {% assign speaker = site.data.speakers[conference.speaker] %}
              <section class="pres-author clearfix">
                <figure class="author-img">
                  <img src="{{ site.baseurl}}/images/2016/orateurs/{{ speaker.avatar }}.jpg" alt="{{ speaker.name }}">
                </figure>
                <h5 class="author-name default-size">{{ speaker.name }}</h5>
                <p class="author-desc">{{ speaker.bio }}</p>
              </section>
            </footer>
            </section>
            {% endfor %}

            <a class="pres-link" href="#">
              <span>Le programme complet<br> c'est par ici</span>
            </a>
          </div>
        </div>
      </section>

      <!-- LIGHTNING TALKS -->
      <section class="darkgrey-section">
        <div class="wrapper text-center">
          <h3 class="conf-title regular-title-size uppercase">8 lightning talks</h3>
          <p>Des conférences de 5 minutes pour donner du rythme.</p>

          <div class="grid-2">
            {% assign lightning-talks = site.talks | where:"type","lt" %}
            {% for lt in lightning-talks %}
              <section class="pres-item">
              <figure class="pres-type">
                <svg><use id="sw-hands" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#{{lt.symbol}}" /></svg>
              </figure>
              <h4 class="pres-title tiny-title-size">{{ lt.title }}</h4>
              <p class="pres-desc">{{ lt.description }}</p>
              <footer>
              {% assign speaker = site.data.speakers[lt.speaker] where:"type","lt" %}
              <section class="pres-author clearfix">
                <figure class="author-img">
                  <img src="{{ site.baseurl}}/images/2016/orateurs/{{ speaker.avatar }}.jpg" alt="{{ speaker.name }}">
                </figure>
                <h5 class="author-name default-size">{{ speaker.name }}</h5>
                <p class="author-desc">{{ speaker.bio }}</p>
              </section>
            </footer>
            </section>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="orange-section">
        <div class="wrapper text-center">
          <h3 class="onemorething-title regular-title-size uppercase">Moments d'échanges</h3>
          <p>Expliquer le format du débat Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut tellus ac felis fermentum imperdiet. Sed id convallis ante. Vivamus quis odio lacus. Vivamus dignissim dolor ac velit interdum, non congue metus vulputate. Praesent a luctus lorem. Etiam neque dolor, vestibulum ac mollis non, tristique at purus.</p>
          <div class="text-center">
            <a class="cta button-type4" href="#">Découvrez le programme complet</a>
          </div>
        </div>
      </section>
    </article>

    <!-- SAMEDI -->
    <article id="samedi">
      <header class="white-section">
        <div class="wrapper text-center">
          <h2 class="great-title-size red uppercase">Samedi : place à l'action !</h2>
          <p>Qué sa ko ? Toi, super héros du Web, tu ne connais pas encore l’Open Space ? Aucun problème, on va t’aider à sauter le pas pour que tu puisses voler de tes propres ailes comme Superman durant cette journée qui sera ta journée !</p>
          <div class="text-center">
            <a class="cta button-type1" href="#">Inscris-moi direct !</a>
          </div>
        </div>
      </header>
      <section class="darkgrey-section">
        <div class="wrapper">
          <div class="grid-3 text-center">
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#clap" /></svg>
              <p><strong>Une journée auto-organisée</strong> où vous allez être les propres acteurs à travers un open space.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#move" /></svg>
              <p><strong>Les participants sont libres</strong> de passer d’une session à L’autre à tout moment de la journée.</p>
            </div>
            <div>
              <svg class="svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#write" /></svg>
              <p><strong>Vous pouvez soumettre le sujet que vous voulez</strong>, aussi bien pour partager que pour apprendre.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="orange-section">
        <div class="wrapper text-center">
          <h3 class="regular-title-size uppercase">Votre mission si vous l'acceptez</h3>
          <p>C’est assez simple en fait, la journée démarre par <strong>la proposition de sujets parmi les participants</strong> : vous pouvez soumettre aussi bien un sujet <strong>sur lequel vous aimeriez apprendre</strong> qu’un sujet <strong>sur lequel vous souhaitez partager votre savoir-faire</strong>.</p>
          <p><strong>Tous les sujets sont proposés sur des post-its, positionnés sur un wall pour les présenter très rapidement aux autres participants (1 minute max par sujet).</strong> Une fois toutes les propositions présentées, tous les participants auto-organisent la journée qu’ils souhaitent avoir et prennent les post-its qui les intéressent pour les placer sur un deuxième wall appelé « place du marché ». Les participants peuvent débattre autour de certains sujets s’ils souhaitent en rassembler ou encore prolonger un sujet intéressant sur deux créneaux, si le temps accordé n’est pas estimé suffisant. &Agrave; la fin de la journée on fait un compte-rendu.
          </p>
        </div>
      </section>

      <section class="white-section">
        <div class="wrapper text-center">
          <h3 class="regular-title-size uppercase">Quatre principes et une loi</h3>
          <div class="grid-4 text-center">
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#people" /></svg>
              <p class="h-like tiny-title-size">Les personnes présentes sont les bonnes personnes</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#thumb" /></svg>
              <p class="h-like tiny-title-size">Ce qui arrive devait arriver</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#clock" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a commence quand ça commence</p>
            </div>
            <div>
              <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#stop" /></svg>
              <p class="h-like tiny-title-size">&Ccedil;a finit quand c’est finit</p>
            </div>
          </div>
          <p>L’idée est de partir sur des bases saines. Une autre chose importante : c’est à vous de construire votre journée pour qu’elle vous apporte ce que vous êtes venus chercher. Si aucun des sujets proposés ne vous apporte de sens, alors à vous d’en proposer un.</p>
          <p>Une fois qu’on a dit ça il ne reste plus qu’à parler de LA loi qui régit tous les super-héros :</p>
          <svg class="orange svg-size" viewBox="0 0 400 400"><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#rocket" /></svg>
          <p class="h-like tiny-title-size">La loi des deux pieds</p>
          <p>&Agrave; partir du moment où vous n’êtes plus en train d’apprendre ni de contribuer, vous êtes libres à tout moment de vous envoler vers de nouveaux cieux et de quitter le groupe pour aller en voir un autre, puis un autre et ainsi de suite&hellip; Aucune représaille ne sera faite, allez et venez autant que vous le voulez.</p>
        </div>
      </section>
    </article>

		<div class="after-banner">
					<!-- nothing here! -->
				</div>

				<article id="after">

					<!-- INTRO -->
					<header class="white-section">
						<div class="wrapper text-center">
							<h2 class="great-title-size red uppercase">Après (ou avant) l'effort : le réconfort</h2>
							<p>Parce qu’un super-héros après une dure journée a aussi besoin de repos et de se sustenter, nous avons prévu de vous accueillir le soir dans des lieux conviviaux afin de prolonger les bons moments vécus pendant la journée. Rien de tel qu’un échange autour d’une bonne chopine ou d’un bon petit plat tous ensemble !</p>
							<div class="text-center">
								<a class="cta button-type1" href="#">Je m’inscris à la soirée communautaire</a>
							</div>
						</div>
					</header>

					<section class="white-section">
						<div class="wrapper text-center">
							<h3 class="regular-title-size uppercase">Trois moments prévus</h3>
							<div class="grid-3">
								<section>
									<h4 class="tiny-title-size"><time>Jeudi 26 mai</time><br> Veillée communautaire</h4>
									<p>L’avant Sud Web en quelque sorte, l’occasion de se rencontrer pour la première fois ou se revoir avant les conférences du lendemain de manière informelle.</p>
								</section>
								<section>
									<h4 class="tiny-title-size"><time>Vendredi 27 mai</time><br> Soirée communautaire</h4>
									<p>Nous vous attendons dans un lieu choisi avec soin afin de prolonger les échanges après les conférences. Tout est prévu vous n’avez qu’à vous laisser guider !</p>
								</section>
								<section>
									<h4 class="tiny-title-size"><time>Dimanche 29 mai</time><br> L’after</h4>
									<p>Une journée informelle le dimanche pour proposer un atelier et/ou se restaurer dans un chouette lieu de Bordeaux.</p>
								</section>
							</div>
						</div>
					</section>

				</article>

				<div class="food-banner">
					<!-- nothing here! -->
				</div>

				<article class="white-section">
					<div class="wrapper text-center">
						<h2 class="great-title-size red uppercase">Nos partenaires de choc</h2>
						<section class="gold-partners">
							<h3 class="partners-title small-title-size uppercase yellow">Or</h3>
							<div class="partners-hr">
								<div>
									<svg class="sw-logo gold" viewBox="0 0 500 276.37">
										<title>Logo SudWeb</title>
										<use id="sw-hands" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands" />
										<use id="sw-hands-shadows" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands-shadows" />
										<use id="sw-heart" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart" />
										<use id="sw-heart-top" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart-top" />
										<use id="sw-wave-shadow" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave-shadow" />
										<use id="sw-wave" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave" />
									</svg>
								</div>
							</div>
							<ul class="grid-2">
								<li>
									<figure>
										<a href="//alienor.net/" title="L'Internet Professionnel"><img src="images/2016/partenaires/alienor.png" alt="Alienor"></a>
										<figcation class="visuallyhidden">Alienor</figcation>
									</figure>
								</li>
							</ul>
						</section>
						<section class="silver-partners">
							<h3 class="partners-title small-title-size uppercase lightgrey">Argent</h3>
							<div class="partners-hr">
								<div>
									<svg class="sw-logo silver" viewBox="0 0 500 276.37">
										<title>Logo SudWeb</title>
										<use id="sw-hands" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands" />
										<use id="sw-hands-shadows" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands-shadows" />
										<use id="sw-heart" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart" />
										<use id="sw-heart-top" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart-top" />
										<use id="sw-wave-shadow" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave-shadow" />
										<use id="sw-wave" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave" />
									</svg>
								</div>
							</div>
							<ul class="grid-4">
								<li>
									<figure>
										<a href="//www.globalis-ms.com/" title="Accélérateur de projet digitaux"><img src="images/2016/partenaires/globalis.svg" alt="Globalis"></a>
										<figcation class="visuallyhidden">Globalis</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//craftsmen.io/" title="Building a better digital world"><img src="images/2016/partenaires/craftsmen.svg" alt="Craftsmen"></a>
										<figcation class="visuallyhidden">Craftmen</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//jolicode.com/" title="Agence experte dans la réalisation de projets Web et mobiles de qualité"><img src="images/2016/partenaires/jolicode.svg" alt="JoliCode"></a>
										<figcation class="visuallyhidden">JoliCode</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//lewagon.com/fr/bordeaux" title="Changez de vie : apprenez à coder"><img src="images/2016/partenaires/le-wagon-bordeaux.svg" alt="Le Wagon Bordeaux"></a>
										<figcation class="visuallyhidden">Le Wagon Bordeaux</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//www.alwaysdata.com/" title="Hébergement simple, rapide et infogéré"><img src="images/2016/partenaires/alwaysdata.svg" alt="alwaysdata"></a>
										<figcation class="visuallyhidden">alwaysdata</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//jechange.fr/" title="On gagne toujours à comparer"><img src="images/2016/partenaires/jechange.svg" alt="JeChange"></a>
										<figcation class="visuallyhidden">JeChange</figcation>
									</figure>
								</li>
								<li>
									<figure>
										<a href="//mailchimp.com/" title="Send Better Email"><img src="images/2016/partenaires/mailchimp.svg" alt="MailChimp"></a>
										<figcation class="visuallyhidden">MailChimp</figcation>
									</figure>
								</li>
							</ul>
						</section>
						<section class="bronze-partners">
							<h3 class="partners-title small-title-size uppercase darkred">Bronze</h3>
							<div class="partners-hr">
								<div>
									<svg class="sw-logo bronze" viewBox="0 0 500 276.37">
										<title>Logo SudWeb</title>
										<use id="sw-hands" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands" />
										<use id="sw-hands-shadows" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-hands-shadows" />
										<use id="sw-heart" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart" />
										<use id="sw-heart-top" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-heart-top" />
										<use id="sw-wave-shadow" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave-shadow" />
										<use id="sw-wave" xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#sw-wave" />
									</svg>
								</div>
							</div>
							<ul>
								<li><a href="//epitech.eu/" title="L'école de l'innovation et de l'expertise informatique">Epitech</a></li>
								<li><a href="//eyrolles.com/" title="La librairie des passionnés et des experts">Eyrolles</a></li>
							</ul>
						</section>
					</div>
				</article>

				<footer class="page-footer">
					<div class="wrapper">
						<div class="grid-3">
							<section>
								<h2 class="tiny-title-size uppercase">Épisodes précédents</h2>
								<nav>
									<ul>
										<li><a href="#" title="SudWeb 2015 à Montpellier">2015 à Montpellier</a></li>
										<li><a href="#" title="SudWeb 2014 à Toulouse">2014 à Toulouse</a></li>
										<li><a href="#" title="SudWeb 2013 à Avignon">2013 à Avignon</a></li>
										<li><a href="#" title="SudWeb 2012 à Toulouse">2012 à Toulouse</a></li>
										<li><a href="#" title="SudWeb 2011 à Nîmes">2011 à Nîmes</a></li>
									</ul>
								</nav>
							</section>
							<section>
								<h2 class="tiny-title-size uppercase">Pour en savoir plus</h2>
								<nav>
									<ul>
										<li><a href="#">Dossier de partenariat</a></li>
										<li><a href="http://sudweb.fr/blog/">Blog</a></li>
										<li><a href="#">Mentions légales</a></li>
										<li><a href="http://sudweb.fr/blog/contact">Contact</a></li>
									</ul>
								</nav>
							</section>
							<section>
								<h2 class="tiny-title-size uppercase">Who you gonna call?</h2>
								<form class="newsletter-form">
									<label for="i1">Inscrivez-vous à la newsletter</label>
									<input type="text" id="i2" name="name">
									<div class="row">
										<input type="email" id="i1" name="email">
										<button type="submit" class="button uppercase">Ok</button>
									</div>
								</form>
								<ul class="social-links">
									<li>
										<a href="//www.facebook.com/SudWeb" class="button-type6" title="SudWeb sur Facebook">
											<svg><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#facebook" /></svg>
										</a>
									</li>
									<li>
										<a href="//twitter.com/sudweb" class="button-type6" title="SudWeb sur Twitter">
											<svg><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#twitter" /></svg>
										</a>
									</li>
									<li>
										<a href="//flickr.com/people/sudweb/" class="button-type6" title="SudWeb sur Flickr">
											<svg><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#flickr" /></svg>
										</a>
									</li>
									<li>
										<a href="//vimeo.com/sudweb" class="button-type6" title="SudWeb sur Vimeo">
											<svg><use xlink:href="{{ site.baseurl }}/images/symbol-defs.svg#vimeo" /></svg>
										</a>
									</li>
								</ul>
							</section>
						</div>
					</div>
				</footer>

				<div class="page-ground">
					<div class="wrapper text-center">
						<p>
							Alors&hellip; <a href="#" class="button-type1" title="Inscris-moi !">Cape</a> ou <a href="//kiwiparty.fr/" class="pffff" title="Cay nul ! 😜">pas cape</a> ?
						</p>
					</div>
				</div>

</main>
