---
layout: main
title: Participants
description: "Celles et ceux qui viennent à Sud Web — et ils le valent bien !"
image: /assets/images/twittercard.jpg
permalink: /participants/
---

<header class="page-header">
  <div class="wrapper">
    <div class="content">
      <h1 class="title">Participant·es</h1>
      <p class="sstitle">Elles ne le savent pas encore mais ces personnes disposent toutes d'un super-pouvoir&nbsp;!</p>
    </div>
  </div>
</header>

<main>

  <article>
    <section class="white-section">

      <div class="wrapper text-center"> <h2 class="great-title-size red uppercase">Des visages, des figures</h2>
      </div>

      <div class="grid-4 text-center">

        {% assign attendees = site.data.attendees | sort: "name" | uniq: "name" %}
        {% assign default-avatar = "/assets/images/default-avatar.png" %}
        {% assign super-woman = "/assets/images/super-woman.png" %}

        {% for attendee in attendees %}
        {% comment %}
        Don't display speakers amongst the attendees
        {% if attendee.ticket_type == '701385' %}
          {% continue %}
        {% endif %}
        {% endcomment %}

        <div class="attendee {% if attendee.ticket_type == '667251' %} golden-ticket{% endif %}">
          {% if attendee.twitter %}
          <img class="attendee-avatar" src="https://twitter.com/{{ attendee.twitter }}/profile_image?size=bigger" alt="Super Avatar">
          {% elsif attendee.title == 'Mme' %}
          <img class="attendee-avatar" src="https://secure.gravatar.com/avatar/{{ attendee.email }}?d={{ super-woman | prepend: site.baseurl | prepend: site.url | cgi_escape }}" alt="Superwoman">
          {% else %}
          <img class="attendee-avatar" src="https://secure.gravatar.com/avatar/{{ attendee.email }}?d={{ default-avatar | prepend: site.baseurl | prepend: site.url | cgi_escape }}" alt="Superman">
          {% endif %}
          <br>
          {% assign name = attendee.name | | split:" " %}
          <span class="attendee-name">{{ name[0] | capitalize }} {{ name[1] | capitalize }} {{ name[2] | capitalize }}</span>
          {% if attendee.twitter %}
          <br> <a href="https://twitter.com/{{ attendee.twitter }}">@{{ attendee.twitter }}</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </section>
  </article>

  <div class="hug-banner">
    <!-- nothing here! -->
  </div>

  {% include sponsors.html %}
</main>
