/* ==========================================================================
   CSS grid
   ========================================================================== */

.wrapper {
	max-width: $grid-width; margin-left: auto; margin-right: auto; padding-left: $grid-goetter / 2; padding-right: $grid-goetter / 2; box-sizing: border-box;
}

.grid {
	display: flex; margin-left: -$grid-goetter; /* margin-right: -$grid-goetter; */
	flex-flow: row wrap;
	& > * {
		box-sizing: border-box; margin-top: $grid-goetter; margin-left: $grid-goetter; /* margin-right: $grid-goetter; */
		flex: 1 0 $grid-col-min-width;
	}
}

.grid-2 {
	@extend .grid;
	& > * {
		flex-basis: ($grid-width / 3);
	}
}
.grid-3 {
	@extend .grid;
	& > * {
		flex-basis: ($grid-width / 4);
	}
}
