/* ==========================================================================
   CSS grid
   ========================================================================== */

.wrapper {
	max-width: $grid-width; margin-left: auto; margin-right: auto; padding-left: $grid-gutter / 2; padding-right: $grid-gutter / 2; box-sizing: border-box;
}

.grid {
	display: flex; margin-left: -$grid-gutter; /* margin-right: -$grid-gutter; */
	flex-flow: row wrap;

	& > * {
		margin-top: $grid-gutter; margin-left: $grid-gutter; /* margin-right: $grid-gutter; */
		flex: 1 0 $grid-col-min-width;
	}
}
