<footer class="main-footer">
  <ul>
    <li><a href="https://vimeo.com/sudweb/videos">Vidéos</a></li>
    <li><a href="http://sudweb.us2.list-manage.com/subscribe?u=af19b58cf514c01eca3f7652e&id=b579f5b507">S'abonner à la newsletter</a></li>
  </ul>
  <ul class="previous-editions">
     {% for edition in site.data.editions reversed %}
     <li>
       <a href="http://sudweb.fr/{{ edition.year}}">{{ edition.year}} à {{ edition.town }}</a>
     </li>
     {% endfor %}
  </ul>

  <p>Sud Web est un évènement à but non-lucratif organisé par une équipe de bénévoles passionnés.</p>
</footer>
