<!doctype html>
<html lang="fr-FR">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
        <meta name="google-site-verification" content="8m24dDPfxZJrdAG2SSC_LX9-CQco5_IBiqTGxxUnREU" />
        <meta name="google-site-verification" content="d4ACEsgZ4SRtmiaMYlTAmL9bRKoVn7EMphY8QUaI9iU" />
        <link href="{{ "/assets/favicons/favicon.ico" | relative_url }}" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{{ "/assets/css/screen.css" | relative_url }}">
        {% include favicons.html %}
        {% include analytics.html %}
    </head>
