<header class="masthead">
    <div class="masthead__logo">
        {% if page.title == "Home" %}
            <img src="{{ site.baseurl }}/images/logo-sud-web.png" alt="">
        {% else %}
            <a href="{{ site.url }}" title="Accueil"><img src="{{ site.baseurl }}/{{ site.logo }}" alt=""></a>
        {% endif %}
    </div>
    <div class="masthead__baseline">
      <h1>SudWeb</h1>
      <p>partageons nos super pouvoirs</p>
    </div>
    <div class="masthead__date">
      <time datetime="2016-05-27T09:00+2/2016-05-28T18:00+2"><time class="dtstart">27</time> et <time class="dtend">28 mai</time> à Bordeaux</time>
    </div>
    <p class="masthead__description">La conférence web à taille humaine qui privilégie les retours d’expérience
    et le savoir-faire.</>
</header>
