<nav class="main-nav">
  <div class="wrapper">
    <a class="logo" href="#" title="Accueil">
      <svg class="sw-logo redbg" viewBox="0 0 500 276.37">
        <title>Sud Web</title>
        <use id="sw-hands" xlink:href="images/symbol-defs.svg#sw-hands" />
        <use id="sw-hands-shadows" xlink:href="images/symbol-defs.svg#sw-hands-shadows" />
        <use id="sw-heart" xlink:href="images/symbol-defs.svg#sw-heart" />
        <use id="sw-heart-top" xlink:href="images/symbol-defs.svg#sw-heart-top" />
        <use id="sw-wave-shadow" xlink:href="images/symbol-defs.svg#sw-wave-shadow" />
        <use id="sw-wave" xlink:href="images/symbol-defs.svg#sw-wave" />
      </svg>
    </a>
    {% for link in site.data.navigation.primary %}
    {% assign class = nil %}
    {% if page.url contains link.url %}
      {% assign class = 'is--active' %}
    {% endif %}
    <a href="{{ site.baseurl }}{{ link.url }}" class="{{ class }}">{{ link.title }}</a>
    {% endfor %}
  </div>
</nav>
