{% for conference in conferences %}
  <section class="pres-item">
  <figure class="pres-type">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use id="sw-hands" xlink:href="{{ site.baseurl }}/assets/images/symbol-defs.svg#{{conference.symbol}}" /></svg>
  </figure>
  <h4 class="pres-title tiny-title-size">{{ conference.date | date: "%Hh%M"}} : {{ conference.title }}</h4>
  <div class="pres-desc">
    {{ conference.description | markdownify }}
    {% if conference.lang == "en" %}
      <p><em>Conférence en anglais (non traduit)</em></p>
    {% endif %}
  </div>
  <footer>
  {% for names in conference.speaker %}
    {% assign speaker = site.data.speakers[names] %}
    <section class="pres-author clearfix">
      <figure class="author-img">
        <img src="{{ site.baseurl}}/assets/images/2016/orateurs/{{ speaker.avatar }}.jpg" alt="{{ speaker.name }}">
      </figure>
      <h5 class="author-name default-size">
        {% if speaker.website %}
           <a href="{{speaker.website}}">{{ speaker.name }}</a>
        {% elsif speaker.twitter %}
            <a href="//twitter.com/{{speaker.twitter}}">{{ speaker.name }}</a>
        {% else %}
            {{ speaker.name }}
        {% endif %}
      </h5>
      <div class="author-desc">{{ speaker.bio | markdownify }}</div>
    </section>
  {% endfor%}
  </footer>
  </section>
{% endfor %}
