/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	font-family: $default-font-family; font-size: $small-media-font-size; line-height: $default-line-height; font-weight: $default-font-weight; color: $default-color;
	@media (min-width: $media-break-point) {
		font-size: $large-media-font-size;
	}
}

::-moz-selection {
    background: $selection-color;
    text-shadow: none;
}
::selection {
    background: $selection-color;
    text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

p {
	font-size: $defaut-font-size;
}

a,
button {
	transition: $default-delay $default-timing-function;
}

img,
svg {
	width: auto; max-width: 100%;
}

svg {
	fill: currentColor;
}
