.button {
	display: inline-block; padding: .5em;
	border-radius: $button-default-radius; box-shadow: 0 .15em 0 darken($default-button-bg, 15%); border: 0; outline: 0; /* oups! */
	background: $default-button-bg;
	font-size: $defaut-font-size; font-weight: $bold-font-weight; color: $default-button-color; text-decoration: none;
	&.cta {
		margin: 1em 0; padding: .5em 1.5em;
	}
	&:hover,
	&:focus {
		transform: translateY(.15em);
		box-shadow: 0 0 0 darken($default-button-bg, 15%);
		background: darken($default-button-bg, 5%);
	}
}

@each $button in $buttons {
	$name: map-get($button, 'name');
	$background: map-get($button, 'background');
	$color: map-get($button, 'color');

	.button-#{$name} {
		@extend .button;
		box-shadow: 0 .15em 0 darken($background, 15%);
		background: $background;
		color: $color;
		&:hover,
		&:focus {
			transform: translateY(.15em);
			box-shadow: 0 0 0 darken($background, 15%);
			background: darken($background, 5%);
		}
	}
}
