/* ==========================================================================
   Main layout
   ========================================================================== */

.main-nav {
	background: $nav-bg;
	a {
		display: inline-block;
		vertical-align: middle;
	}
	a:not(.logo) {
		position: relative; padding: 3%; overflow: hidden;
		font: $tiny-title-size $title-font-family; color: $nav-color; text-decoration: none;
		&::before {
			position: absolute; top: -.25em; left: 50%; display: block; width: .5em; height: .5em;
			transform: translateY(-50%) translateX(-50%) rotate(-45deg) skew(10deg,10deg);
			background: $nav-color;
			content: ''; opacity: 0;
			transition: $default-delay $default-timing-function;
		}
		&:hover,
		&:focus {
			&::before {
				transform: translateY(0) translateX(-50%) rotate(-45deg) skew(10deg,10deg);
				opacity: 1;
			}
		}
	}
	.logo {
		padding: .25em 0;
		&:hover,
		&:focus {
			animation: heart-beat 1s infinite; transition-timing-function: $easeInOutCubic;
		}
	}
	.sw-logo {
		width: 7em; height: auto;
	}
}

.page-header {
	padding: 5% 0 30%;
	background: $header-bg no-repeat right bottom / contain url(../images/hero-small.svg);
	color: $header-color;
	@media (min-width: $media-break-point) {
		padding: 20% 0 5%;
		background: $header-bg no-repeat center bottom / cover url(../images/hero-small.svg);
	}
	.content {
		width: auto;
		@media (min-width: $media-break-point) {
			width: 60%;
		}
	}
	.title {
		margin: 0;
		font-size: $regular-title-size; line-height: .9;
	}
	.sstitle {
		margin: .25em 0;
		font-size: $defaut-font-size; font-weight: $thin-font-weight;
	}
}

.page-footer {
	padding: 2.5% 0;
	background: $darkgrey;
	color: $alternate-color;
	ul {
		@extend %ul-reset;
	}
	li, label, input, button {
		font-size: $small-font-size;
	}
	li, label, .row {
		margin: .5em 0;
	}
	nav a {
		color: $yellow; text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	abbr {
		text-decoration: none;
	}
	label {
		display: block;
		color: $yellow;
		cursor: pointer;
	}
	.row {
		@include flexbox; /*display: flex;*/
		@include flex-flow(row nowrap); /*flex-flow: row nowrap;*/ @include align-items(stretch); /*align-items: stretch;*/
	}
	[id='mce-EMAIL'] { // From MailChimp
		@include flex(1); /*flex: 1;*/ margin: 0;
		border-radius: $button-default-radius 0 0 $button-default-radius;
	}
	button {
		border-radius: 0 $button-default-radius $button-default-radius 0;
	}
	.social-links {
		@include flexbox; /*display: flex;*/ margin: 2em 0;
		@include flex-flow(row nowrap); /*flex-flow: row nowrap;*/ @include justify-content(space-between); /* justify-content: space-between;*/ @include align-items(center); /* align-items: center;*/
		& > * {
			display: block; margin: 0 5%;
			@include flex(0 1 4em); /*flex: 0 1 4em;*/
			font-size: 1em;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			position: relative; display: block; padding: 0 0 100% 0; overflow: hidden;
		}
		svg {
			position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 15%; box-sizing: border-box;
		}
	}
}

.page-ground {
	padding: 2% 0;
	background: $white;
	font-family: $title-font-family;
	p {
		margin: 0;
		font-size: $tiny-title-size;
	}
	[class*='button'] {
		padding: .25em;
		font-size: 1em; font-weight: normal;
	}
	.pffff {
		color: inherit; text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
