/* ==========================================================================
   Main layout
   ========================================================================== */

.main-nav {
	background: $nav-bg-first;
	animation: nav-alternate $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
	.logo,
	.nav {
		display: inline-block;
		vertical-align: middle;
	}
	.nav {
		position: relative; padding: 3%; overflow: hidden;
		font: $tiny-title-size $title-font-family; color: $nav-color; text-decoration: none;
		&::before {
			position: absolute; top: -.25em; left: 50%; display: block; width: .5em; height: .5em;
			transform: translateY(-50%) translateX(-50%) rotate(-45deg) skew(10deg,10deg);
			background: $nav-color;
			content: ''; opacity: 0;
			transition: $default-delay $default-timing-function;
		}
		&.is--active,
		&:link:hover,
		&:link:focus {
			&::before {
				transform: translateY(0) translateX(-50%) rotate(-45deg) skew(10deg,10deg);
				opacity: 1;
			}
		}
	}
	.logo {
		padding: .25em 0;
		&:hover,
		&:focus {
			animation: heart-beat 1s infinite cubic-bezier(unquote($easeInOutCubic));
		}
	}
	.sw-logo {
		width: 7em; /*height: auto;*/ height: 3.875em;
		[id='sw-hands-shadows'],
		[id='sw-heart-top'],
		[id='sw-wave-shadow'] {
			animation: sw-logo-alternate-a $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
		}
		[id='sw-wave'] {
			animation: sw-logo-alternate-b $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
		}
	}
}

.page-header {
	position: relative; padding: 5% 0 30%;
	background-color: $header-bg-first;
	color: $header-color;
	// animation: header-alternate $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
	&::before,
	&::after {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0;
		background: no-repeat right bottom / contain;
		content: '';
	}
	&::before {
		background-color: $header-bg-first; background-image: url(../images/hero-male-small.svg);
		animation: header-alternate-before $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
	}
	&::after {
		background-color: $header-bg-second; background-image: url(../images/hero-female-small.svg);
		opacity: 0;
		animation: header-alternate-after $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
	}
	@media (min-width: $media-break-point) {
		padding: 24% 0 5%;
		&::before,
		&::after {
			background-position: center bottom; background-size: cover;
		}
	}
	.content {
		position: relative; z-index: 1; width: auto;
		@media (min-width: $media-break-point) {
			width: 65%;
			animation: header-content-alternate $header-anim-duration infinite cubic-bezier(unquote($easeInOutCubic));
		}
	}
	.title {
		margin: 0;
		font-size: $regular-title-size; line-height: .9;
	}
	.sstitle {
		margin: .25em 0;
		font-size: $defaut-font-size; font-weight: $thin-font-weight;
	}
}

.page-footer {
	padding: 2.5% 0;
	background: $darkgrey;
	color: $alternate-color;
	ul {
		@extend %ul-reset;
	}
	li, label, input, button {
		font-size: $small-font-size;
	}
	li, label, .row {
		margin: .5em 0;
	}
	nav a {
		color: $yellow; text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	abbr {
		text-decoration: none;
	}
	label {
		display: block;
		color: $yellow;
		cursor: pointer;
	}
	.row {
		@include flexbox; /*display: flex;*/
		@include flex-flow(row nowrap); /*flex-flow: row nowrap;*/ @include align-items(stretch); /*align-items: stretch;*/
	}
	[id='mce-EMAIL'] { // From MailChimp
		@include flex(1); /*flex: 1;*/ margin: 0;
		border-radius: $button-default-radius 0 0 $button-default-radius;
	}
	button {
		border-radius: 0 $button-default-radius $button-default-radius 0;
	}
	.social-links {
		@include flexbox; /*display: flex;*/ margin: 2em 0;
		@include flex-flow(row nowrap); /*flex-flow: row nowrap;*/ @include justify-content(space-between); /* justify-content: space-between;*/ @include align-items(center); /* align-items: center;*/
		& > * {
			display: block; margin: 0 5%;
			@include flex(0 1 4em); /*flex: 0 1 4em;*/
			font-size: 1em;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			position: relative; display: block; padding: 0 0 100% 0; overflow: hidden;
		}
		svg {
			position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 15%; box-sizing: border-box;
		}
	}
}

.page-ground {
	padding: 2% 0;
	background: $white;
	font-family: $title-font-family;
	p {
		margin: 0;
		font-size: $tiny-title-size;
	}
	[class*='button'] {
		padding: .25em;
		font-size: 1em; font-weight: normal;
	}
	.pffff {
		color: inherit; text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
}
