// Big header above the content for branding

.masthead {
    text-align: center;
    overflow: hidden;

    h1 {
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: normal;
    }

    &__logo {
        padding: $base-spacing;

        img {
            max-width: 280px;
            width: 100%;
        }
        &:hover {
            @include unique-pulse();
        }
    }

    &__date {
        padding-top: $base-spacing;
        color: $light-gray;
        font-size: modular-scale(2);
        font-weight: bold;
    }

    &__baseline {
        padding: $base-spacing;
        background: $secondary-background-color;
        color: white;
        font-family: $heading-font-family;
        font-size: 1.2rem;
        p {
            font-size: 1.3rem;
            margin-top: -$small-spacing;
        }
    }

    &__description {
        margin: auto;
        max-width: 22em;
        color: $light-gray;
        font-size: modular-scale(2);
    }
}
