/* ==========================================================================
   Specifics classes
   ========================================================================== */

.cta-zone-1 {
	position: relative;
	
	.cta-title {
		font-size: $small-title-size;
	}
}

.schedule-nav {
	background: $darkgrey;
	& > * {
		display: flex;
		padding: -1px 0;
		overflow: hidden;
		flex-flow: row wrap;
		justify-content: center;
	}
	a {
		display: block; margin: -1px; padding: .5em;
		flex: 1 0 auto;
		border: 2px solid lighten($darkgrey, 20%);
		font: $tiny-title-size $title-font-family; color: $alternate-color; text-align: center; text-decoration: none;
		&:hover,
		&:focus {
			background: lighten($darkgrey, 10%);
		}
	}
	time {
		display: block;
	}
}
