/* ==========================================================================
   Specifics classes
   ========================================================================== */

.cta-zone-1 {
	position: relative;
	background: center / cover no-repeat url(../images/2016/bordeaux01.jpg);
	@media (min-width: $media-break-point) {
		background-attachment: fixed;
	}
	&::before {
		position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 0;
		background: rgba(white, .85);
		content: '';
	}
	& > * {
		position: relative; z-index: 1;
	}
	.cta-title {
		font-size: $small-title-size;
	}
}

.schedule-nav {
	background: $darkgrey;
	& > * {
		@include flexbox; /*display: flex;*/ padding: -1px 0; overflow: hidden;
		@include flex-flow(row wrap); /*flex-flow: row wrap;*/ @include justify-content(center); /*justify-content: center;*/
	}
	a {
		display: block; margin: -1px; padding: .5em;
		@include flex(1 0 auto); /*flex: 1 0 auto;*/
		border: 2px solid lighten($darkgrey, 20%);
		font: $tiny-title-size $title-font-family; color: $alternate-color; text-align: center; text-decoration: none;
		&:hover,
		&:focus {
			background: lighten($darkgrey, 10%);
		}
	}
	time {
		display: block;
	}
}
