$visual-grid:false;

@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: 1200px;

// Define your breakpoints
$first-breakpoint-value: 32em;
$second-breakpoint-value: 48em;

$small-viewport: new-breakpoint(max-width $first-breakpoint-value 4);
$medium-viewport: new-breakpoint(min-width $first-breakpoint-value + 0.1 max-width $second-breakpoint-value 8);
$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 0.1);
